// Team.scss
.team-container {
  text-align: center;
  padding: 2rem 0;

  h1, h2 {
    color: inherit; // Inherit color from the parent
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .team-member {
      max-width: 200px;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }

      p {
        color: inherit; // Inherit color from the parent
        font-size: 1rem;
      }
    }
  }
}
