// Home.scss
.home-container {
  background-image: url('src/assets/images/bg01.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;

    h1 {
      font-size: var(--font-size-large);
      margin-bottom: 1rem;
      font-weight: bold;

      strong {
        // Specific style for "Metaverse"
        color: var(--button-text-color); // Example: Use a highlight color
      }
    }

    p {
      font-size: var(--font-size-medium);
      margin-bottom: 2rem;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 2rem;

      .social-icon {
        width: 40px; // Adjust as needed
        height: auto;
      }
    }

    button {
      // Add any specific styles for the button if needed
    }
  }
}
