// Footer.scss
footer {
  background-color: var(--background-color); // Use variable for background color
  color: inherit; // Inherit color from the body
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.footer-content {
  // Styles for the content inside the footer
  p {
    margin: 0; // Remove default margin
  }
}
